import React from 'react';

import { Container, Title } from './styles';

const {{ properCase name }} = () => {
  return (
    <Container>
      <Title>Hello {{ properCase name }}</Title>
    </Container>
  );
};

export default {{ properCase name }};
